html, body{
    height: 100%;
    width: 100%;
}

nav {
    background-color: #fff5ed;
    display: flex;
    
}

ul{
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;

}